## Question1: 
### Suppose that we have a table that contains products, and their sales subtotals. We want to display this table, with the total previous subtotals of each product.

> ### by: Mohamed AbdelGawad Ibrahim
> #### Phone: 01069052620 â€“ 01147821232
> #### Mail: muhammad.abdelgawwad@gmail.com

#### In this notebook, I create a table in postgres and load sample data; to provide a practical answer for the previous question

I will use the ipython-sql extension to run the queries inside this jupyter notebook

In [1]:
# Load ipython-sql extension
%load_ext sql

Connect to local postgres database

In [2]:
# Set connection string variables
DB_ENDPOINT = "127.0.0.1"
DB = 'postgres'
DB_USER = 'postgres'
DB_PASSWORD = '123456'
DB_PORT = '5432'

# Build the connection string: postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

# Print the connection string
print(conn_string)

postgresql://postgres:123456@127.0.0.1:5432/postgres

In [3]:
# connect to the database using the connection string
%sql $conn_string

#### Drop the table `product_sales` if it exists; to have a clean table every time I run this notebook

In [4]:
%%sql
-- Drop the table if it exists
DROP TABLE IF EXISTS product_sales

 * postgresql://postgres:***@127.0.0.1:5432/postgres
Done.

[]

#### Create a new table `product_sales`

In [5]:
%%sql
-- create the table
CREATE TABLE IF NOT EXISTS product_sales(
    id SERIAL PRIMARY KEY,
    product_name VARCHAR,
    sale_date DATE,
    quantity INT,
    unit_price FLOAT
)

 * postgresql://postgres:***@127.0.0.1:5432/postgres
Done.

[]

#### Insert sample data

In [6]:
# The insert query
insert_query = """
INSERT INTO product_sales(
    product_name, sale_date, quantity, unit_price
) VALUES
"""

In [7]:
%sql $insert_query ('product1', to_date('27-10-2021','DD-MM-YYYY'), 4, 5.0)
%sql $insert_query ('product2', to_date('26-10-2021','DD-MM-YYYY'), 10, 7.0)
%sql $insert_query ('product1', to_date('29-10-2021','DD-MM-YYYY'), 1, 10.0)
%sql $insert_query ('product2', to_date('30-10-2021','DD-MM-YYYY'), 9, 11.0)
%sql $insert_query ('product2', to_date('28-10-2021','DD-MM-YYYY'), 10, 15.0)
%sql $insert_query ('product1', to_date('27-09-2021','DD-MM-YYYY'), 4, 5.0)
%sql $insert_query ('product2', to_date('26-09-2021','DD-MM-YYYY'), 10, 7.0)
%sql $insert_query ('product1', to_date('29-09-2021','DD-MM-YYYY'), 1, 10.0)
%sql $insert_query ('product2', to_date('30-09-2021','DD-MM-YYYY'), 9, 11.0)
%sql $insert_query ('product3', to_date('28-09-2021','DD-MM-YYYY'), 10, 15.0)

 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/postgres
1 rows affected.

[]

#### Confirm that data were inserted successfully

In [8]:
%%sql
-- Confirm that data were inserted successfully
SELECT
    id,
    product_name,
    sale_date,
    quantity,
    unit_price,
    quantity*unit_price AS subtotal
FROM product_sales

 * postgresql://postgres:***@127.0.0.1:5432/postgres
10 rows affected.

[(1, 'product1', datetime.date(2021, 10, 27), 4, 5.0, 20.0),
 (2, 'product2', datetime.date(2021, 10, 26), 10, 7.0, 70.0),
 (3, 'product1', datetime.date(2021, 10, 29), 1, 10.0, 10.0),
 (4, 'product2', datetime.date(2021, 10, 30), 9, 11.0, 99.0),
 (5, 'product2', datetime.date(2021, 10, 28), 10, 15.0, 150.0),
 (6, 'product1', datetime.date(2021, 9, 27), 4, 5.0, 20.0),
 (7, 'product2', datetime.date(2021, 9, 26), 10, 7.0, 70.0),
 (8, 'product1', datetime.date(2021, 9, 29), 1, 10.0, 10.0),
 (9, 'product2', datetime.date(2021, 9, 30), 9, 11.0, 99.0),
 (10, 'product3', datetime.date(2021, 9, 28), 10, 15.0, 150.0)]

## The `LAG` Function:
**I used the `LAG` function to access previous subtotal, and the `SUM` function to access all previous subtotals and sum them.**

In [9]:
%%sql
SELECT 
    id, 
    product_name, 
    sale_date,
    quantity,
    unit_price,
    quantity*unit_price AS subtotal,
    LAG(unit_price*quantity, 1) OVER (PARTITION BY product_name ORDER BY sale_date) AS previous_subtotal,
    SUM(unit_price*quantity) OVER (PARTITION BY product_name ORDER BY sale_date) AS total_previous_subtotals
FROM product_sales 
ORDER BY sale_date DESC, product_name

 * postgresql://postgres:***@127.0.0.1:5432/postgres
10 rows affected.

[(4, 'product2', datetime.date(2021, 10, 30), 9, 11.0, 99.0, 150.0, 488.0),
 (3, 'product1', datetime.date(2021, 10, 29), 1, 10.0, 10.0, 20.0, 60.0),
 (5, 'product2', datetime.date(2021, 10, 28), 10, 15.0, 150.0, 70.0, 389.0),
 (1, 'product1', datetime.date(2021, 10, 27), 4, 5.0, 20.0, 10.0, 50.0),
 (2, 'product2', datetime.date(2021, 10, 26), 10, 7.0, 70.0, 99.0, 239.0),
 (9, 'product2', datetime.date(2021, 9, 30), 9, 11.0, 99.0, 70.0, 169.0),
 (8, 'product1', datetime.date(2021, 9, 29), 1, 10.0, 10.0, 20.0, 30.0),
 (10, 'product3', datetime.date(2021, 9, 28), 10, 15.0, 150.0, None, 150.0),
 (6, 'product1', datetime.date(2021, 9, 27), 4, 5.0, 20.0, None, 20.0),
 (7, 'product2', datetime.date(2021, 9, 26), 10, 7.0, 70.0, None, 70.0)]

# The `LEAD` Function:
**The `LEAD` function access the next rows in the table. So, we can achieve the same results using the `LEAD` function if we descending order the rows inside the `LEAD` function**

In [10]:
%%sql
SELECT 
    id, 
    product_name, 
    sale_date,
    quantity,
    unit_price,
    quantity*unit_price AS subtotal,
    LEAD(unit_price*quantity, 1) OVER (PARTITION BY product_name ORDER BY sale_date DESC) AS previous_subtotal,
    SUM(unit_price*quantity) OVER (PARTITION BY product_name ORDER BY sale_date) AS total_previous_subtotals
FROM product_sales 
ORDER BY sale_date DESC, product_name

 * postgresql://postgres:***@127.0.0.1:5432/postgres
10 rows affected.

[(4, 'product2', datetime.date(2021, 10, 30), 9, 11.0, 99.0, 150.0, 488.0),
 (3, 'product1', datetime.date(2021, 10, 29), 1, 10.0, 10.0, 20.0, 60.0),
 (5, 'product2', datetime.date(2021, 10, 28), 10, 15.0, 150.0, 70.0, 389.0),
 (1, 'product1', datetime.date(2021, 10, 27), 4, 5.0, 20.0, 10.0, 50.0),
 (2, 'product2', datetime.date(2021, 10, 26), 10, 7.0, 70.0, 99.0, 239.0),
 (9, 'product2', datetime.date(2021, 9, 30), 9, 11.0, 99.0, 70.0, 169.0),
 (8, 'product1', datetime.date(2021, 9, 29), 1, 10.0, 10.0, 20.0, 30.0),
 (10, 'product3', datetime.date(2021, 9, 28), 10, 15.0, 150.0, None, 150.0),
 (6, 'product1', datetime.date(2021, 9, 27), 4, 5.0, 20.0, None, 20.0),
 (7, 'product2', datetime.date(2021, 9, 26), 10, 7.0, 70.0, None, 70.0)]