In [1]:
import cx_Oracle

In [2]:
# Load ipython-sql extension
%load_ext sql

In [3]:
# Turn off the connection string echo
%config SqlMagic.displaycon = False

In [4]:
# Set auto-commit to True
%config SqlMagic.autocommit = True

In [5]:
# Limit the displayed results from the quries
%config SqlMagic.displaylimit= 5

In [6]:
# Keep connection alive
%config keepalives=1 
%config keepalives_idle=60

In [7]:
# Import the oracle database credentials
from db_credentials import set_oracle_credentials

In [8]:
# Set connection string variables
# Set the Oracle database credentials
db = set_oracle_credentials()
hostname = db.hostname
username = db.username
password = db.password
port = db.port
service_name = db.service_name

# Build the connection string: postgresql://username:password@host:port/database
conn_string = "oracle+cx_oracle://{}:{}@{}:{}/?service_name={}" \
                        .format(username, password, hostname, port, service_name)

In [9]:
# connect to the database using the connection string
%sql $conn_string

In [10]:
# Establish a connection with the Oracle database
dsn_tns = cx_Oracle.makedsn(
    hostname, 
    port, 
    service_name= service_name
)
connection = cx_Oracle.connect(
    user = username, 
    password = password, 
    dsn = dsn_tns
) 

# Create a cursor to execute the queries
cursor = connection.cursor()

## Before Creating The Index
**First, Let's run the query before creating the Index, and measure the execuation time.**

In [ ]:
%%time
%%sql

SELECT 
    TO_CHAR(DATE_DAY, 'YYYY') AS year,
    TO_CHAR(DATE_DAY, 'MM') AS month,
    TO_CHAR(DATE_DAY, 'DD') AS day,
    TO_CHAR(DATE_MIN, 'HH24') AS hour,
    TO_CHAR(DATE_MIN, 'MI') AS minute,
    NODE_NAME AS node,
    SERVICE,
    STATUS,
    COUNT(*) AS count
FROM AIR_NET
WHERE DATE_DAY > SYSDATE-2
GROUP BY 
    TO_CHAR(DATE_DAY, 'YYYY'),
    TO_CHAR(DATE_DAY, 'MM'),
    TO_CHAR(DATE_DAY, 'DD'),
    TO_CHAR(DATE_MIN, 'HH24'),
    TO_CHAR(DATE_MIN, 'MI'),
    NODE_NAME,
    SERVICE,
    STATUS

**Total Executation Time =**

# SQL `CREATE INDEX` Statement
Indexing makes columns faster to query by creating pointers to where data is stored within a database. 

We will apply this to a table in Oracle database, that is known to be slow, and measure the execuation time after creating the index.

In [ ]:
# Set the CREATE INDEX query
query = """ 
CREATE INDEX AIR_NET_DATE_DAY_i
ON AIR_NET(DATE_DAY)
"""

# Execute the query and create the index
cursor.execute(query)

# commit the transaction
connection.commit()

**Confirm that the index was created successfully**

In [ ]:
%%sql

SELECT 
    index_name, 
    index_type, 
    visibility, 
    status 
FROM 
    all_indexes
WHERE 
    table_name = 'AIR_NET'

**Let's run the same query again and measure the execuation time after creating the index**

In [ ]:
%%time
%%sql

SELECT 
    TO_CHAR(DATE_DAY, 'YYYY') AS year,
    TO_CHAR(DATE_DAY, 'MM') AS month,
    TO_CHAR(DATE_DAY, 'DD') AS day,
    TO_CHAR(DATE_MIN, 'HH24') AS hour,
    TO_CHAR(DATE_MIN, 'MI') AS minute,
    NODE_NAME AS node,
    SERVICE,
    STATUS,
    COUNT(*) AS count
FROM AIR_NET
WHERE DATE_DAY > SYSDATE-2 AND ROWNUM <= 5
GROUP BY 
    TO_CHAR(DATE_DAY, 'YYYY'),
    TO_CHAR(DATE_DAY, 'MM'),
    TO_CHAR(DATE_DAY, 'DD'),
    TO_CHAR(DATE_MIN, 'HH24'),
    TO_CHAR(DATE_MIN, 'MI'),
    NODE_NAME,
    SERVICE,
    STATUS