In [1]:
import cx_Oracle

In [2]:
# Load ipython-sql extension
%load_ext sql

In [3]:
# Turn off connection echo
%config SqlMagic.displaycon = False

In [4]:
# Import the oracle database credentials
from db_credentials import set_oracle_credentials

In [5]:
# Set connection string variables
# Set the Oracle database credentials
db = set_oracle_credentials()
hostname = db.hostname
username = db.username
password = db.password
port = db.port
service_name = db.service_name

# Build the connection string: postgresql://username:password@host:port/database
conn_string = "oracle+cx_oracle://{}:{}@{}:{}/?service_name={}" \
                        .format(username, password, hostname, port, service_name)

In [6]:
# connect to the database using the connection string
%sql $conn_string

In [7]:
# Establish a connection with the Oracle database
dsn_tns = cx_Oracle.makedsn(
    hostname, 
    port, 
    service_name= service_name
)
connection = cx_Oracle.connect(
    user = username, 
    password = password, 
    dsn = dsn_tns
) 

# Create a cursor to execute the queries
cursor = connection.cursor()

# SQL CREATE INDEX Statement
Indexing makes columns faster to query by creating pointers to where data is stored within a database.

**Let's create an index on the openshift table that I created in my last project**

<img src="screenshots/screenshot.PNG">

Suppose, we often want to look up the openshift table by the timestamp and we find that the query is quite slow. To speed up the lookup, we create an index for the timestamp column:

In [8]:
# Set the CREATE INDEX query
query = """ CREATE INDEX openshift_timestamp_i
ON openshift(timestamp)
"""

# Execute the query and create the index
cursor.execute(query)

# commit the transaction
connection.commit()

## Confirm that the index was created successfully

In [9]:
%%sql
SELECT 
    index_name, 
    index_type, 
    visibility, 
    status 
FROM 
    all_indexes
WHERE 
    table_name = 'OPENSHIFT'

0 rows affected.

[('OPENSHIFT_TIMESTAMP_I', 'NORMAL', 'VISIBLE', 'VALID')]

## Drop The Index

In [10]:
# Set the DROP INDEX query
query = "DROP INDEX openshift_timestamp_i"

# Execute the query and create the index
cursor.execute(query)